
.loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
}

.loginMainDiv {
   background-color: #fff;
   position: relative;
   width: 300px;
   height: auto;
   padding: 10px;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   text-align: center;
}

.loginMainDiv h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 12px;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.loginFormCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6px;
    font-size: 8px;
}

.loginFormCont label {
    font-size: 16px;
    padding: 8px 0;
    text-align: start;
}

.loginFormCont input {
    width: auto;
    height: 25px;
    padding-left: 5px;
    border: 2px solid salmon;
    border-radius: 4px;
}

.loginFormCont input:focus {
    border-color: #007bff;
    border-radius: 4px;
    outline: none;
}

.googlebtn {
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 1px solid red;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 4px; 
    font-size: 20px;
}

.loginFormCont .signbtn {
    padding: 8px;
    font-size: 20px;
    margin-top: 20px;
    background-color: #d13f48;
    color: white;
    border: 2px solid salmon;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.loginForm button:hover {
    background-color: #ae394c;
    color: white;
    font-size: 20px;
}

.closeBtn button{
    position: absolute;
    top: 1%;
    right: 1%;
    cursor: pointer;
    border: none;
    color: red;
    font-size: 30px;
    background-color: #fff;
    transition: transform 0.3s ease;
}


.switchBtn {
    margin-top: 20px;
}

.switchBtn span {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.closeBtn button:hover {
    transform: scale(1.1);
}
