*{
    margin: 0px;
    padding: 0px;
}
  
body {
    background-color: rgb(235, 144, 79);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.passwordBox {
    width: 400px;
    height: 400px;
    background-color: coral;
    padding: 20px;
}
  
.passwordBoxin {
    display: flex;
}
  
.passwordBoxin input {
    flex-basis: 80%;
    padding-left: 5px;
    outline: none;
}
  
.passwordBoxin button {
    flex-basis: 20%;
    padding: 10px 0px;
    background-color: chartreuse;
    color: rgb(228, 28, 28);
}
  
.passlength {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.passlength input {
    padding: 10px 0px;
    width: 60px;
}

.passwordBox .submitBtn {
    width: 100%;
    background-color: gray;
    height: 32px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;

}